.embla {
  overflow: hidden;
}

.embla_container {
  display: flex;
}

.embla_slide {
  flex: 0 0 100%;
  min-width: 0;

  display: flex;
  justify-content: center;
}
.embla_slide img {
  width: 70%;
  height: 500px;
  /* object-fit: cover; */
  border-radius: 10px;
}
